<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hafsa.notes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".OperatorsActivity"/>
        <activity android:name=".rxjava.CompositeDisposableActivity" />
        <activity android:name=".CustomOperatorsActivity" />
        <activity android:name=".rxjava.BasicRxJavaActivity" />
        <activity android:name=".Disposable_RxJavaActivity" />
        <activity android:name=".Operator_RxJavaActivity" />
        <activity android:name=".Buffer_Operator_RxJava_Activity" />
        <activity android:name=".Debounce_Operator_RxJava_Activity" />
        <activity android:name=".Filter_Operator_RxJava_Activity" />
        <activity android:name=".Skip_Operator_RxJava_Activity" />
        <activity android:name=".Math_Operator_RxJava_Activity" />
        <activity android:name=".Map_RxJavaActivity">

        </activity>

        <activity android:name=".rxjavaretrofit.view.NotesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>